/*********
 * FONTS *
 *********/

/* roboto-slab-100 - latin-ext_latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-display: fallback;
	font-weight: 100;
	src: url('/fonts/roboto-slab-v9-latin-ext_latin-100.eot'); /* IE9 Compat Modes */
	src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'),
			 url('/fonts/roboto-slab-v9-latin-ext_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-100.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-100.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-regular - latin-ext_latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src: url('/fonts/roboto-slab-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
			 url('/fonts/roboto-slab-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-300 - latin-ext_latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src: url('/fonts/roboto-slab-v9-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
	src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
			 url('/fonts/roboto-slab-v9-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin-ext_latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src: url('/fonts/roboto-slab-v9-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
			 url('/fonts/roboto-slab-v9-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/roboto-slab-v9-latin-ext_latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* raleway-100 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 100;
	src: url('/fonts/raleway-v14-latin-ext_latin-100.eot'); /* IE9 Compat Modes */
	src: local('Raleway Thin'), local('Raleway-Thin'),
			 url('/fonts/raleway-v14-latin-ext_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-100.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-100.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-100italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 100;
	src: url('/fonts/raleway-v14-latin-ext_latin-100italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-100italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-100italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-200 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 200;
	src: url('/fonts/raleway-v14-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
			 url('/fonts/raleway-v14-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-200italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 200;
	src: url('/fonts/raleway-v14-latin-ext_latin-200italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-200italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-200italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 300;
	src: url('/fonts/raleway-v14-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
	src: local('Raleway Light'), local('Raleway-Light'),
			 url('/fonts/raleway-v14-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 300;
	src: url('/fonts/raleway-v14-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-300italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 400;
	src: url('/fonts/raleway-v14-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Raleway'), local('Raleway-Regular'),
			 url('/fonts/raleway-v14-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 400;
	src: url('/fonts/raleway-v14-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway Italic'), local('Raleway-Italic'),
			 url('/fonts/raleway-v14-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 500;
	src: url('/fonts/raleway-v14-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
	src: local('Raleway Medium'), local('Raleway-Medium'),
			 url('/fonts/raleway-v14-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 500;
	src: url('/fonts/raleway-v14-latin-ext_latin-500italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-500italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 600;
	src: url('/fonts/raleway-v14-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
			 url('/fonts/raleway-v14-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 600;
	src: url('/fonts/raleway-v14-latin-ext_latin-600italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-600italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-600italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 700;
	src: url('/fonts/raleway-v14-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local('Raleway Bold'), local('Raleway-Bold'),
			 url('/fonts/raleway-v14-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 700;
	src: url('/fonts/raleway-v14-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 800;
	src: url('/fonts/raleway-v14-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
			 url('/fonts/raleway-v14-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 800;
	src: url('/fonts/raleway-v14-latin-ext_latin-800italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-800italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-800italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
  font-display: fallback;
	font-weight: 900;
	src: url('/fonts/raleway-v14-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
	src: local('Raleway Black'), local('Raleway-Black'),
			 url('/fonts/raleway-v14-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900italic - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: italic;
  font-display: fallback;
	font-weight: 900;
	src: url('/fonts/raleway-v14-latin-ext_latin-900italic.eot'); /* IE9 Compat Modes */
	src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
			 url('/fonts/raleway-v14-latin-ext_latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('/fonts/raleway-v14-latin-ext_latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-900italic.woff') format('woff'), /* Modern Browsers */
			 url('/fonts/raleway-v14-latin-ext_latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('/fonts/raleway-v14-latin-ext_latin-900italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

/*******************
 * WELCOME SECTION *
 *******************/

.slidenotes {
	font-weight: 400;
}

.slidenotes .welcome {
	position: relative;
	height: 100vh;
	min-height: 700px;
	background: url("/images/bg.jpg") no-repeat bottom left fixed;
	background-size: cover;
}

.slidenotes .welcome .inner-wrapper {
  padding-top: 2.75rem;
}

.welcome-heading {
  line-height: 1.5;
}

/* Edge */
@supports (-ms-ime-align:auto) {
	.slidenotes .welcome {
		background-attachment: scroll !important;
	}
}

/* Internet Explorer */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.slidenotes .welcome {
		background-attachment: scroll !important;
	}
}

.slidenotes .welcome:before {
	position: absolute;
	z-index: 0;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.80;
	background: #ffffff;
}

@media (max-height: 700px) {
	.slidenotes .welcome {
		background-attachment: scroll;
	}
}

@media (max-width: 991.98px) {
	.slidenotes .welcome {
		height: auto;
	}
	.slidenotes .welcome .header-social-icons {
		display: none;
	}
}

@media (max-width: 767.98px) {
	.slidenotes .welcome {
		height: auto;
	}
	.slidenotes .welcome .inner-wrapper {
		padding-top: 3.25rem;
	}
}

@media (max-width: 400px) {
	.slidenotes .welcome .welcome-heading {
		font-size: 2.415rem;
	}
}

.slidenotes .welcome .iphone-mockup {
	max-width: 85%;
}

.slidenotes .section-title {
	position: relative;
}

.slidenotes .section-title:after {
	content: '';
	width: 30px;
	height: 2px;
	background: #17c671;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	bottom: -20px;
}

.slidenotes .section-title.underline--left:after {
	left: 0;
	margin-left: 0;
}

.slidenotes .section {
	border-bottom: 1px solid #eaebed;
}

.slidenotes .section-invert {
	background: #f9fafc;
}

/****************
 * PAGE PREVIEW *
 ****************/

.slidenotes .page {
	display: block;
	margin: 0 auto;
	border: 1px solid #eee;
	box-shadow: 3px 2px 2px rgba(0,0,0,0.15);
	transition: height 0.3s ease;
}
.slidenotes .page-a4 {
	width: 200px;
	height: 282px;
}
.slidenotes .page-a4-small {
	width: 100px;
	height: 141px;
}
.slidenotes .page-43-small {
	width: 100px;
	height: 75px;
}
.slidenotes .slide-container {
	position: absolute;
}
.slidenotes .slide {
	display: block;
	border: 1px solid #ccc;
	background-color: #eee;
	position: absolute;
	transition: top 0.3s ease, left 0.3s ease, width 0.3s ease, height 0.3s ease;
}
.slidenotes .slide-def-size {
	width: 92px;
	height: 69px;
	left: 15px;
}
.slidenotes .slide-single-in-43-small {
	width: 84px;
	height: 64px;
	left: 7px;
	top: 4px;
}
.slidenotes .slide-top-in-a4-small {
	width: 64px;
	height: 48px;
	left: 17px;
	top: 15px;
}
.slidenotes .slide-bottom-in-a4-small {
	width: 64px;
	height: 48px;
	left: 17px;
	top: 79px;
}
.slidenotes .slide.first-third {
	top: 15px;
}
.slidenotes .slide.second-third {
	top: 104px;
}
.slidenotes .slide.third-third {
	top: 192px;
}
.slidenotes .slide.second-half {
	top: 141px;
}

/************
 * DRAGOVER *
 ************/

.slidenotes .dragover {
	position: fixed;
	height: 100%;
	width: 100%;
	border: dashed 8px #f00;
	background-color: #ffffffaa;
	z-index: 99999;
}

/****************
 * UI BUG-FIXES *
 ****************/

.slidenotes .custom-radio .custom-control-label::before {
	width: 18px;
	height: 18px;
	top: 3px;
}
.slidenotes .custom-checkbox .custom-control-label::before {
	width: 18px;
	height: 18px;
	top: 3px;
}

html:not([dir="rtl"]) .slidenotes .noUi-horizontal .noUi-handle, .slidenotes .noUi-horizontal .noUi-handle {
	right: -11px;
}

.slidenotes .custom-file-label {
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 102px;
}

.custom-file-input:lang(it)~.custom-file-label::after {
		content: "Scegli file";
}

.slidenotes .custom-file-label::after {
	height: auto;
}

/******************
 * NO-JS HANDLING *
 ******************/

.no-js .custom-file-input {
	opacity: 1;
	padding-top: 0.4em;
}

.no-js .no-js-hidden, .no-js .custom-file-label, .no-js .page {
	display: none;
}
