{% extends "base.html" %}

{% set page_class_id = "index" %}
{% set title = "Slidenotes.app - Login" %}
{% set description = "Effettuare il login" %}

{% block content %}
<section class="section-invert py-4 min-full-page">
	<div class="container">
		<h3 class="section-title text-center mb-5 mt-2 pb-3">Effettuare il login</h3>
		<div class="row">
			<div class="col-lg-7 col-md-12 text-justify py-2 ml-auto mr-auto">
				<div class="row justify-content-md-center px-4">
					<div class="p-4 mb-3 card">
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert alert-{{ category }}">
									{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}
						<form
							method="POST" enctype="multipart/form-data"
							action="{{ url_for('admin.register') }}">
							<div class="form-group">
								<label for="password">Inserire nuova password</label>
								<input type="password" name="password" id="password" placeholder="Password" class="form-control">
							</div>
							<input type="submit" class="btn btn-primary btn-pill d-flex ml-auto mr-auto" value="Invia">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
