{% extends "base.html" %}

{% set page_class_id = "index" %}
{% set title = "Slidenotes.app - Admin" %}
{% set description = "Admin" %}

{% block scripts %}
	{% autoescape false %}
	<script>
		{{ include_file("js/plotly-latest.min.js") }}
	</script>
	<script>
		(function () {
			window.onload = function (event) {
				let plot = document.getElementById("plot");
				Plotly.d3.json(plot.dataset.datasourceurl, function(error, data){
					if(error){
						console.error(error);
						return;
					}
					let traces = [
						{
							name: plot.dataset.last_weeks,
							x: data["data"]["dates_last_weeks"],
							y: data["data"]["counts_last_weeks"],
							text: data["data"]["counts_last_weeks"],
							hoverinfo: 'x+text',
							line: {shape: 'hvh'},
							mode: 'lines+markers',
							xaxis: 'x1',
							yaxis: 'y',
						},
						{
							name: plot.dataset.prev_weeks,
							x: data["data"]["dates_prev_weeks"],
							y: data["data"]["counts_prev_weeks"],
							text: data["data"]["counts_prev_weeks"],
							hoverinfo: 'x+text',
							line: {shape: 'hvh'},
							mode: 'lines+markers',
							xaxis: 'x2',
							yaxis: 'y',
						},
					];
					let layout = {
						showlegend: true,
						title: plot.dataset.title,
						hovermode: "closest",
						yaxis: {
							rangemode: 'tozero',
							autorange: true,
						},
						xaxis: {
							title: plot.dataset.xtitle,
							type: 'date',
							domain: [0, 1],
							tickformat: '%b %d',
							fixedrange: true,
						},
						xaxis2: {
							type: 'date',
							domain: [0, 1],
							tickformat: '%b %d',
							fixedrange: true,
							overlaying: 'x',
							//showgrid: false,
							side: 'top',
						},
						yaxis: {
							title: plot.dataset.ytitle,
							fixedrange: true,
						}
					};
					let config = {
						showLink: false,
						displaylogo: false,
						displayModeBar: false,
					};
					Plotly.plot(plot, traces, layout, config);
					plot.on('plotly_legenddoubleclick', function(d, i) {return false});
					plot.on('plotly_legendclick', function(d, i) {return false});
				});
			}
		})();
	</script>
	{% endautoescape %}
{% endblock %}

{% block content %}
<section class="section-invert py-4 min-full-page">
	<div class="container">
		<h3 class="section-title text-center mb-5 mt-2 pb-3">Slidenotes - Statistiche globali</h3>
		<div class="row">
			<div class="col-md-12 text-justify py-2 ml-auto mr-auto">
				<div class="row justify-content-md-center px-4 pb-4">
					<a href="{{ url_for('admin.conversions_per_file') }}" class="btn btn-primary btn-pill">
						File più convertiti negli ultimi 60 giorni
					</a>
				</div>
				<div class="row justify-content-md-center px-4 pb-4">
					<a href="{{ url_for('admin.conversions') }}" class="btn btn-primary btn-pill">
						Lista di tutte le Conversioni
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-justify py-2 ml-auto mr-auto">
				<div class="row justify-content-md-center px-4">
					<div class="p-4 mb-3 card">
						<div id="plot"
							data-datasourceurl="{{ url_for('admin.conversions_per_dates') }}"
							data-title="Conversioni negli ultimi due mesi"
							data-xtitle="Tempo" data-ytitle="# conversioni"
							data-last_weeks="Ultimi 28 giorni"
							data-prev_weeks="Periodo precedente"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
